Source: linuxmuster-community-feedback
Section: unknown
Priority: extra
Maintainer: Frank Schiebel <frank@linuxmuster.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>

Package: linuxmuster-community-feedback
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl
Description: Collecting an sending statistics to the linuxmuster.net project
